@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #de968d;
  --secondary-color: #27252a;
  --paragraph-txt: #949197;
  --text-color: #ffff;
  --text-black: #000;
}
html,
body {
  overflow-x: hidden !important;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
ul,
p {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1520px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.nav-container {
  max-width: 1744px;
}

.sub-heading {
  font-size: 20px;
  color: var(--primary-color);
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
.title1 {
  font-size: 70px;
  color: var(--text-color);
  font-family: "Marcellus", serif;
  margin: 20px 0;
  font-weight: 500;
}
.title2 {
  font-size: 48px;
  color: var(--secondary-color);
  font-family: "Marcellus", serif;
  margin: 20px 0;
  font-weight: 500;
}
.para {
  font-size: 18px;
  color: var(--secondary-color);
  font-family: "Manrope", sans-serif;
  letter-spacing: 5px;
  color: var(--paragraph-txt);
}
.primary-btn {
  padding: 19px 32px;
  background-color: var(--primary-color);
  font-family: "Manrope", sans-serif;
  color: var(--text-color);
  display: flex;
  align-items: center;
  width: fit-content;
  text-transform: uppercase;
}

.primary-btn > span {
  margin-right: 10px;
}
.primary-btn:hover {
  color: var(--primary-color);
  background-color: var(--text-color);
  outline: 1px solid var(--primary-color);
}

.primary-btn:hover svg path {
  stroke: var(--primary-color);
}

/* Nav bar Section------------ */

.topbar {
  background-color: var(--secondary-color);
  position: relative;
  padding: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.topbar a > span {
  color: var(--text-color);
  font-size: 14px;
  font-family: "Manrope", sans-serif;
}
.topbar a > span:hover {
  color: var(--primary-color);
}

.mail {
  margin: 0 20px;
}
header {
  position: absolute;

  left: 0;
  right: 0;
}
.navbar {
  background: linear-gradient(to bottom, #0000, #ffffff15);
}

.icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-link {
  margin-left: 35px;
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
}

.nav-link:hover,
.nav-link.active {
  color: var(--primary-color) !important;
}
.nav-btn > a:hover svg path {
  stroke: var(--primary-color) !important;
}
.dropdown-menu {
  color: var(--secondary-color) !important;
  font-family: "Manrope", sans-serif;
  margin-bottom: 15px;
}
.dropdown-item {
  margin-bottom: 15px;
}

.dropdown-item:hover {
  color: var(--primary-color) !important;
}
.offcanvas {
  flex-direction: row;
}
/* BAnner section---------------------- */

.banner-sec {
  min-height: 100vh;
  background: url(../asset/Shop/shop-bg.png) no-repeat center / cover;
  padding: 150px 0 0;
}
.banner-cntn {
  padding: 50px;
}
.shop-logo {
    max-width: 300px;
}
.banner-sec .title2{
    color: var(--text-color);
    
}
.banner-btn a {
    color: var(--text-color);
    font-family: "Manrope", sans-serif;
    font-size: 20px;
}


.banner-para {
  font-size: 20px;
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  
}
/* taklk to us------------------ */

.our-contact{
    padding: 100px 0;
}
.c-card{
  margin-bottom: 30px;
}
.img-cntn{
  max-width: 45px;
}
.c-card-hdr{
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: var(--text-black);
}
.card-details{
  max-width: 333px;
  color: var(--paragraph-txt);
  font-size: 20px;
}
.fimg-cntn{
  max-width: 536px;
}
.title3{
   font-family: "Marcellus", serif;
  font-size: 30px;
  color: var(--primary-color);

}
/* Get in Touch------------------ */

.getin-sec{
  padding: 100px 0;
}
.testimonial-form-card {
  background: var(--text-color);
  border-radius: 20px;
  padding: 60px 40px 65px;
  margin-bottom: 20px;
}
.testimonial-sec .title2 {
  margin-bottom: 35px;
}
select {
  padding: 20px;
}

.getin-form-card textarea,
input,
select {
  width: 100%;
  border: none;
}
.getin-form-card input {
  padding: 20px 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Manrope", sans-serif;
}
.submit {
  border: none;
  margin: 0 auto;
}
.t-sub {
  color: var(--text-color);
}
label {
  margin-bottom: 20px;
}
textarea {
  padding: 10px 10px 66px;
}
.testimonial-sec .primary-btn {
  margin-top: 40px;
  margin-bottom: 0;
}

.testimonial-sec .t-tile {
  color: var(--text-color);
  margin-bottom: 40px;
}


/* Footer Section------------------ */
.footer-sec {
  padding: 150px 0;
  background: url(../asset/FOOTER-BG.png) no-repeat center/cover;
}
.f-logo-para {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: var(--paragraph-txt);
  margin: 20px 0 20px;
}
.footer-cntn span {
  color: var(--text-color);
  font-size: 14px;
  font-family: "Manrope", sans-serif;
}

.q-hdr {
  font-family: "Marcellus", serif;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 40px;
}

.q-link {
  color: var(--text-color);
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  margin-top: 20px;
}
.q-link:hover {
  color: var(--primary-color);
}

.new-hdr {
  font-family: "Manrope", sans-serif;
  color: var(--text-color);
  font-weight: 500;
}

.new-para {
  font-family: "Manrope", sans-serif;
  color: var(--paragraph-txt);
  margin: 20px 0 20px 0;
}
.email-submit input {
  font-family: "Manrope", sans-serif;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
    border: none;
}
.footer-sec .submit-btn {
  background: var(--primary-color);
  color: var(--text-color);
}

.copy-right {
  margin-top: 90px;
}

.copy-txt,
a {
  font-size: 16px;
  color: var(--paragraph-txt);
}

.terms-policy {
  font-size: 16px;
  color: var(--paragraph-txt);
}

/* Media Quary Section---------------------- */


@media screen and (max-width: 1440px){

}
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){
    /* Navbar Section --------------*/
  .offcanvas {
    flex-direction: column;
    padding-top: 150px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
  }
  .navbar {
    background: none;
  }
  .nav-link {
    margin: 0 auto;
  }
  .navbar-nav {
    text-align: center;
  }
  .nav-btn {
    margin: 20px auto 0;
  }
  .navbar-toggler-icon {
    background: none;
    height: 2px;
    width: 30px;
    background-color: var(--text-color);
    transition: 0.5s linear;
  }
  .navbar-toggler::after,
  .navbar-toggler::before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: var(--text-color);
    position: absolute;
    left: 0;
    right: 0;
  }
  .navbar-toggler::after {
    top: 4px;
  }
  .navbar-toggler::before {
    bottom: -3px;
  }

  .navbar-toggler {
    position: relative;
    z-index: 9999;
    border: 0;
    padding: 0;
  }
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler.active-show .navbar-toggler-icon {
    transform: translateX(-20px);
    opacity: 0;
  }
  .navbar-toggler.active-show::after {
    transform: rotate(45deg) translateX(11px);
  }
  .navbar-toggler.active-show::before {
    transform: rotate(-45deg) translateX(11px);
  }
  /* get in touch */
  .fimg-cntn{
    margin:  20px auto;
  }
  /* Footer Section-------------- */

  .footer-sec {
    text-align: center;
  }
  .social-icon {
    justify-content: center;
  }
  .q-hdr,
  .new-hdr {
    margin: 20px 0;
  }

}
@media screen and (max-width: 768px){
   .title2 {
        font-size: 36px !important;
    }
    /* Nav-bar SEction---------------- */
  .topbar {
    justify-content: center !important;
  }

  .topbar a > span {
    font-size: 10px;
  }
   /* Footer Sec-------------------- */

  .social-icon {
    justify-content: center;
    margin-bottom: 10px;
  }
  .q-hdr {
    margin: 20px 0 30px;
  }
  .new-hdr {
    margin: 20px 0 30px;
  }

}
@media screen and (max-width: 576px){
   .sec-padding {
    padding: 70px 0 70px;
  }
  .c-card-hdr {
    font-size: 20px;
  }
  .title3{
    font-size: 25px;
  }
  .card-details {
    
    font-size: 16px;


}

}
@media screen and (max-width: 426px){
  .title2 {
        font-size: 25px !important;
    }
     /* Nav-bar--------------- */
  .icon {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .topbar a > span {
    font-size: 8px;
  }

  .nav-logo .img {
    max-width: 100px;
  }

  .title1 {
    font-size: 28px;
  }
  .banner-para {
    font-size: 14px;
  }
  .icon {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .mail {
    margin: 0 10px;
  }

}
@media screen and (max-width: 376px){
    /* Footer Section---------------------- */
  .copy-right {
    flex-direction: column;
  }
  .terms-policy {
    margin-top: 10px;
  }
  .primary-btn{
    padding: 10px 10px;
  }

}
@media screen and (max-width: 320px) {
    /* Nav-bar section----------- */
  .icon {
    top: 6px;
  }
  /* Bnner--------------- */
  .banner-btn{
    flex-direction: column;
    font-size: 16px;
    text-align: center;
  }

}